/* RESET */

:root{
    --blue-color: rgb(0, 132, 253);
    --card-color: rgb(181, 221, 255);
    --text-color: rgb(75, 90, 104);
    --purple-color: rgb(151, 146, 228);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

button{
    border-radius: 20px;
    padding: 10px 48px;
    color: white;
    background-color: var(--blue-color);
    border: none;
    margin: 30px 0;
}


/* GRID */

.container{
   max-width: 1080px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 15px;
}

/* HEADER */

#header{
  /* DEBUG */
  color: white;
  background-color: var(--blue-color);
}


#header .container{
    display: flex;
    justify-content: space-between;
}


#header .logo,
#header .nav{
    padding: 10px;
}


/* SECTION-DEMO-APP */

#demo-app .col:first-child{
    width: calc(100% / 3 * 2);
}


#demo-app .col{
    width: calc(100% / 3);
}

#demo-app .card{
   background-color: var(--card-color);
   border-radius: 20px;
   height: 100%;
   padding: 1rem;
   text-align: center;
}

#demo-app .col:first-child .card{
    display: flex;
    padding: 0;
    text-align: start;
}

#demo-app .col:first-child .card-left,
#demo-app .col:first-child .card-right{
    width: 50%;
}

#demo-app .col:first-child .card-left{
    padding: 1rem;
}


#demo-app .col:first-child .card-right img{
    margin: 50px auto 0 auto;
    max-height: 230px;
}

/* card-style */

.card .title-card{
    color: var(--blue-color);
    font-weight: bold;
    font-size: 18px;
    padding: 1rem 0;
}

.card .description-card{
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-color);
}

.col .card .icon{
    text-align: center;
    font-size: 62px;
    color: var(--blue-color);
}
/* SECTION-PLAN */

#plan{
    background-color: var(--purple-color);
}

#plan .container{
    display: flex;
    padding-top: 50px ;
    padding-bottom: 50px ;
}

#plan .container .card{
    width: 50%;
}

#plan .container .card:first-child{
    color: white;
    font-size: 14px;
    line-height: 1.8;
}

#plan .container .card:first-child .titolo{
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

#plan .container .card:last-child{
    align-self: flex-end;
    background-color: white;
    border-radius: 30px;
    padding: 10px 1px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#plan .container .card:last-child .titolo{
    font-weight: bold;
    padding: 15px;
}

#plan .container .card:last-child .description{
    font-style: italic ;
    line-height: 1.8;
}

#plan .container .card:last-child i{
    font-size: 20px;
}

#plan .container .card:last-child .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


/* SECTION-PARTNERS */

#partners .intro{
    text-align: center;
}

#partners .container *{
    padding-top: 15px;
    padding-bottom: 15px;
}

#partners .container .card{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    /* DEBUG */
    background-color: chocolate;
}

#partners .container .card .left{
    width: 30%;
}

#partners .container .card .right{
    width: 70%;
}


/* SECTION-BENEFITS  */
#benefits h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#benefits .col{
    width: calc(100% / 3);
}

#benefits .card{
   padding: 1rem;
   background-color: burlywood;
}

/* SECTION-ABOUT-US */

#about .container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about .container .card:first-child{
    width: 80%;
}

#about .container .card:last-child{
    width: 20%;
}

/* SECTION-GET-STARTED */

#start .container *{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#start .container{
    padding-top: 50px;
    padding-bottom: 50px;
}


/* FOOTER */

#footer .container{
    text-align: center;
}




    /*******************************
        Responsive-Layout-Tablet 
    ********************************/

@media  screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

    /* SECTION-DEMO-APP */

    #demo-app .col:first-child .card{
        flex-direction: column;
        width: 100%;
    }

    #demo-app .col:first-child .card-left,
    #demo-app .col:first-child .card-right{
        width: 100%;
    }

    #demo-app .col:first-child .card-right img{
        margin: 0;
    }

    /* SECTION-PLAN */

    #plan .container{
        flex-direction: column;
        padding-top: 50px ;
        padding-bottom: 50px ;
    }

    #plan .container .card{
        width: 100%;
    }

    #plan .container .card:last-child {
        width: 100%;
        margin: 10px auto;
    }

    /* SECTION-BENEFITS  */

    #benefits .col{
        width: 50%;
    }
}


    /*******************************
        Responsive-Layout-mobile 
    ********************************/

@media  screen and (max-width: 480px) {
    #demo-app .row .col{
        width: 100%;
    }

    /* SECTION-PARTNERS */

    #partners .card{
        flex-direction: column;
    }
    
    /* SECTION-BENEFITS  */

    #benefits .col{
        width: 100%;
    }

    /* SECTION-ABOUT-US */

    #about .container{
        flex-direction: column;
    }

}

