/* RESET */

:root{
    --blue-color: rgb(0, 132, 253);
    --card-color: rgb(181, 221, 255);
    --text-color: rgb(75, 90, 104);
    --purple-color: rgb(151, 146, 228);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

button{
    border: none;
}

#header .nav .nav-button{
    display: none;
}

/* GRID */

.container{
   max-width: 1080px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 15px;
}

/* HEADER */

#header{
  /* DEBUG */
  color: white;
  background-color: var(--blue-color);
  
}



#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header .logo,
#header .nav{
    padding: 10px;
}

#header .nav div{
     display: flex;
     gap: 40px;
}

#header .nav div a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#header .nav div a:hover{
    color: black;
}

/* SECTION-DEMO-APP */

#demo-app .col:first-child{
    width: calc(100% / 3 * 2);
}


#demo-app .col{
    width: calc(100% / 3);
}

#demo-app .card{
   background-color: var(--card-color);
   border-radius: 20px;
   height: 100%;
   padding: 1rem;
   text-align: center;
}

#demo-app button{
    border-radius: 20px;
    padding: 10px 48px;
    color: white;
    background-color: var(--blue-color);
    margin: 30px 0;
}

#demo-app .col:first-child .card{
    display: flex;
    padding: 0;
    text-align: start;
}

#demo-app .col:first-child .card-left,
#demo-app .col:first-child .card-right{
    width: 50%;
}

#demo-app .col:first-child .card-left{
    padding: 1rem;
}


#demo-app .col:first-child .card-right img{
    margin: 50px auto 0 auto;
    max-height: 230px;
}

/* card-style */

.card .title-card{
    color: var(--blue-color);
    font-weight: bold;
    font-size: 18px;
    padding: 1rem 0;
}

.card .description-card{
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-color);
}

.col .card .icon{
    text-align: center;
    font-size: 62px;
    color: var(--blue-color);
}
/* SECTION-PLAN */

#plan{
    background-color: var(--purple-color);
}

#plan .container{
    display: flex;
    padding-top: 50px ;
    padding-bottom: 50px ;
}

#plan .container .card{
    width: 50%;
}

#plan .container .card:first-child{
    color: white;
    font-size: 14px;
    line-height: 1.8;
}

#plan .container .card:first-child .titolo{
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

#plan .container .card:last-child{
    align-self: flex-end;
    background-color: white;
    border-radius: 30px;
    padding: 10px 1px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#plan .container .card:last-child .titolo{
    font-weight: bold;
    padding: 15px;
}

#plan .container .card:last-child .description{
    font-style: italic ;
    line-height: 1.8;
}

#plan .container .card:last-child i{
    font-size: 20px;
}

#plan .container .card:last-child .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


/* SECTION-PARTNERS */
#partners{
    margin: 40px 0;
}

#partners .intro{
    text-align: center;
}

#partners .intro h2{
    color: var(--purple-color);
    font-size: 30px;
}

#partners .intro p:last-child{
    color: var(--text-color);
}



#partners .container .card{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    /* DEBUG */
    background-color: var(--purple-color);
}

#partners .container .card .left .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#partners .container .card .left img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
}

#partners .container .card .left{
    min-width: 200px;
}

#partners .container .card .right{
    max-width: 75%;
    align-self: center;
    color: white;
    padding: 10px;
}


/* SECTION-BENEFITS  */

#benefits{
    background-color: var(--purple-color);
    margin: 40px 0;
}

#benefits h2{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#benefits .col{
    width: calc(100% / 3);
}

#benefits .card{
   padding: 1rem;
   background-color: white;
   border-radius: 20px;
}

#benefits .card *{
    padding: 10px 0;
}

#benefits .card .title {
    color: var(--purple-color);
    font-size: 70px;
    font-weight: bold;
}

#benefits .card h3{
    color: var(--purple-color);
    font-size: 20px;
}

#benefits .card .text{
    color: var(--text-color);
    line-height: 1.8;
}

#benefits .button{
    background-color: var(--purple-color);
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    text-align: center;
}

/* SECTION-ABOUT-US */

#about .container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about .container .card .title{
    color: var(--purple-color);
    font-size: 50px;
}

#about .container .left p{
    line-height: 2.2;
}


#about .container .left *{
    padding: 20px;
}

#about .container .right .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#about .container .right img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about .container .right .white{
    background-color: white;
    color: var(--purple-color);
    margin-right: 10px;
}

#about .button{
    background-color: var(--purple-color);
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    text-align: center;
}

#about .container .card:first-child{
    width: 70%;
}

#about .container .card:last-child{
    width: 20%;
}

#about .right .description {
    color: var(--purple-color);
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

/* SECTION-GET-STARTED */

#start{
    background-color: var(--purple-color);
    color: white;
}

#start p:first-child{
    color: var(--text-color);
}

#start .title{
    font-weight: bold;
    font-size: 30px;
}

#start .orange-title{
    color: rgb(231, 175, 86);
    font-size: 50px;
    font-weight: bold;
}

#start .container *{
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
}

#start .container{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 600px;
}

#start button{
    color: var(--purple-color);
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 15px;
}

#start a{
    color: white;
}

/* FOOTER */

#footer{
    background-color: rgb(51, 51, 51);
    color: white;
}

#footer *{
    padding: 30px 0;
}

#footer a{
    color: var(51, 51, 51);
}

#footer .container{
    text-align: center;
    max-width: 600px;
}




    /*******************************
        Responsive-Layout-Tablet 
    ********************************/

@media  screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    #header .nav div a{
       display: none;
    }

    #header .nav .nav-button{
        display: block;
    }

    /* SECTION-DEMO-APP */

    #demo-app .col:first-child .card{
        flex-direction: column;
        width: 100%;
    }

    #demo-app .col:first-child .card-left,
    #demo-app .col:first-child .card-right{
        width: 100%;
    }

    #demo-app .col:first-child .card-right img{
        margin: 0;
    }

    /* SECTION-PLAN */

    #plan .container{
        flex-direction: column;
        padding-top: 50px ;
        padding-bottom: 50px ;
    }

    #plan .container .card{
        width: 100%;
    }

    #plan .container .card:last-child {
        width: 100%;
        margin: 10px auto;
    }

    /* SECTION-BENEFITS  */

    #benefits .col{
        width: 50%;
    }
}


    /*******************************
        Responsive-Layout-mobile 
    ********************************/

@media  screen and (max-width: 480px) {
    #demo-app .row .col{
        width: 100%;
    }

    /* SECTION-PARTNERS */

    #partners .card{
        flex-direction: column;
    }

    #partners .card .circle{
        margin: 0 auto;
    }

    #partners .container .card .right {
        max-width: 100%;
        padding: 20px;
    }


    
    /* SECTION-BENEFITS  */

    #benefits .col{
        width: 100%;
    }

    /* SECTION-ABOUT-US */

    #about .container{
        flex-direction: column;
    }

    #about .container .card:first-child{
        width: 100%;
    }

    #about .container .card:last-child{
        width: 100%;
    
    }

    #about .container .card:last-child .circle{
        margin: 0 auto ;
    }
}

